# Environnement
NODE_ENV=development

# Serveur
PORT=3000
HOST=0.0.0.0

# Base de données PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nestjs_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Logging
LOG_LEVEL=info